.contacts-container {
  position: absolute;
  top: 8rem;
  width: 100vw;
  display: flex;
  justify-content: center;
  text-align: center;
}

.inner-container {
  padding: 1rem 2rem;
  border-left: 3px solid rgb(221, 149, 16);
  border-right: 3px solid rgb(221, 149, 16);
}

.animation-display-slide {
  animation: display-slide ease-out 0.6s;
}

.navy-text {
    color: #2887a7;
}

/* ANIMATIONS */
@keyframes display-slide {
  0% {
    transform: translateY(-10rem);
  }
  100% {
    transform: translateX(0);
  }
}
