.contacts-container {
  position: absolute;
  top: 10rem;
  width: 100vw;
  display: flex;
  justify-content: center;
  text-align: center;
}

.inner-container {
  padding: 1rem 2rem;
  color: aliceblue;
}

.animation-display-slide {
  animation: display-slide ease-out 0.4s;
}

.ellipse-gb {
  background-color: #2f96b8;
  height: 9rem;
  width: 20rem;
  border-radius: 50%;
  box-shadow: 3px 6px 2px #23738d;
}

.underscored {
  text-decoration: underline 2px rgb(221, 149, 16);
}

.user-unselect {
  user-select: none;
}
/* ANIMATIONS */
@keyframes display-slide {
  0% {
    transform: translateY(-10rem);
    width: 50%;
  }
  50%{
    transform: translateY(0);
  }
  70%{
    transform: translateY(-0.3rem);

  }
  90%{
    transform: translateY(0.1rem);
  }
  100% {
    transform: translateX(0);
  }
}
