<div class="navbar-container">
  <ul class="menu-container">
    <a routerLink=""
      ><span
        class="animated-btn text-hover"
        (click)="handleClick('linkHome')"
        id="linkHome"
        >Home</span
      ></a
    >
    <a
      routerLink="/contacts"
      class="animated-btn text-hover"
      (click)="handleClick('linkContacts')"
      id="linkContacts"
      >Contacts</a
    >
    <a
      routerLink="/projects"
      class="animated-btn text-hover"
      (click)="handleClick('linkProjects')"
      id="linkProjects"
      >Projects</a
    >
  </ul>
  <div class="social-links-container">
    <a href="https://github.com/mbisovskyi" target="_blank"
      ><img src="../../../assets/github.png" alt="git-hub" width="40px"
    /></a>
    <a href="https://www.linkedin.com/in/mbisovskyi/" target="_blank"
      ><img src="../../../assets/linkedin.png" alt="linkedin" width="40px"
    /></a>
    <a href="https://twitter.com/twit_mbisovskyi" target="_blank"
      ><img src="../../../assets/twitter.png" alt="twitter" width="40px"
    /></a>
  </div>
</div>
