<div class="trafficlight-container">
  <div class="west-container">
    <div class="lights-container">
      <div class="red-light-container">
        <span class="red-light west-red-light"></span>
      </div>
      <div class="yellow-light-container">
        <span class="yellow-light west-yellow-light"></span>
      </div>
      <div class="green-light-container">
        <span class="green-light west-green-light"></span>
      </div>
    </div>
  </div>
  <div class="central-container">
    <div class="north-container">
      <div class="lights-container">
        <div class="red-light-container">
          <span class="red-light north-red-light"></span>
        </div>
        <div class="yellow-light-container">
          <span class="yellow-light north-yellow-light"></span>
        </div>
        <div class="green-light-container">
          <span class="green-light north-green-light"></span>
        </div>
      </div>
    </div>
    <div class="empty-square"></div>
    <div class="south-container">
      <div class="lights-container">
        <div class="red-light-container">
          <span class="red-light south-red-light"></span>
        </div>
        <div class="yellow-light-container">
          <span class="yellow-light south-yellow-light"></span>
        </div>
        <div class="green-light-container">
          <span class="green-light south-green-light"></span>
        </div>
      </div>
    </div>
  </div>
  <div class="east-container">
    <div class="lights-container">
      <div class="red-light-container">
        <span class="red-light east-red-light"></span>
      </div>
      <div class="yellow-light-container">
        <span class="yellow-light east-yellow-light"></span>
      </div>
      <div class="green-light-container">
        <span class="green-light east-green-light"></span>
      </div>
    </div>
  </div>
  <button (click)="handleStart()">Start</button>
</div>
