.projects-container {
  position: absolute;
  top: 10rem;
  left: 50%;
  translate: -50%;
  width: 60%;
  height: 50%;
  margin: auto;
  text-align: center;
}

.projects {
  margin: 1rem;
  margin-bottom: 1rem;
  padding: 1rem;
  border-radius: 10px;
}

.projects > img {
  overflow: hidden;
  width: 95%;
  height: 95%;
  border-radius: 10px;
  box-shadow: 0 0 10px rgb(56, 56, 56);
}

button {
  padding: 0 0.2rem;
  border-color: white;
  border-radius: 5px;
}
