/* You can add global styles to this file, and also import other style files */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url('./assets/bg-bridge.jpg');
  background-repeat: none;
  background-size: cover;
  font-family: 'K2D', sans-serif;
}